<%- include("partials/header") %>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to KAPA Online Mart</h1>

            <a href="/index">View all Sports Accessories</a>
        </div>
    </div>

    <%- include("partials/footer") %>